!! Appearance
urxvt.termName: rxvt-unicode
urxvt.scrollBar: false
!! Font preferences
urxvt.font: xft:SourceCodeProForPowerline:pixelsize=13
!! Larger history limit
urxvt.saveLines: 1000000

! special
*.foreground:   #c0b18b
*.background:   #212121
*.cursorColor:  #f3f9fb

! black
*.color0:       #1d1919
*.color8:       #1d1919

! red
*.color1:       #e16262
*.color9:       #e16262

! green
*.color2:       #3a9679
*.color10:      #3a9679

! yellow
*.color3:       #ffc15e
*.color11:      #ffc15e

! blue
*.color4:       #257aa6
*.color12:      #257aa6

! magenta
*.color5:       #621e81
*.color13:      #621e81

! cyan
*.color6:       #00dbaa
*.color14:      #00dbaa

! white
*.color7:       #eaeaea
*.color15:      #eaeaea

